# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Docker
*.db
*.sqlite3

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache

# Misc
*.swp
*.bak
*.tmp

# Node (if any JS tooling)
node_modules/

# OS
.DS_Store
Thumbs.db

test_db